.heroes
  display: flex
  flex-wrap: wrap
  justify-content: center

.heroes a
  width: 90px
  margin: 0.375em
  color: white
  text-decoration: none
  text-align: center
  background: black
  border: 1px solid white
  border-radius: 0.5em
  padding-bottom: 3px

.heroes a:hover
  background: white
  color: black

.heroes a:hover img
  background: #ffc900

.heroes img
  width: 90px
  height: 120px
  border-radius: 0.5em 0.5em 0 0

.heroes .small
  font-size: 0.75em

.text-links
  text-align: center
  font-size: 1.25em

.text-links > div
  margin-top: 0.375em

.text-links > div:first-child
  margin-top: 0

.text-links a
  color: white

.text-links .icon
  height: 1.125em
  vertical-align: bottom
  fill: white
