.name, .hero
  text-align: right
  padding-left: 0.5em

.hero
  font-feature-settings: "smcp"
  font-size: 0.75em

.hero a
  color: white
  text-decoration: none

.common
  color: white

.rare
  color: #00c1fa

.epic
  color: #ff05f4

.legendary
  color: #ffa12b

.name .icon
  height: 1.125em
  vertical-align: bottom
  fill: white

.name .new
  font-feature-settings: "smcp"
  text-transform: lowercase
  font-size: 0.75em
  vertical-align: 15%
  color: #dd4
