.name
  grid-column: name-start / name-end
  vertical-align: bottom
  justify-self: end
  text-align: right

.common
  color: white

.rare
  color: #00c1fa

.epic
  color: #ff05f4

.legendary
  color: #ffa12b

.event-icon
  height: 1.125em
  vertical-align: top
  fill: white
