html
  background: #335

body
  font-family: sans-serif
  font-weight: bold
  background: #222
  color: white
  line-height: 1
  max-width: 25rem
  margin: auto
  min-height: 100vh

h1
  margin: 0 1rem
  padding: 1rem 0
  text-align: center

.status-icon
  height: 1.125em
  vertical-align: top

.unrated
  stroke: white
  fill: none

.rated1
  fill: #aaa

.rated2
  fill: white

.rated3
  fill: #00c1fa

.rated4
  fill: #ff05f4

.rated5
  fill: #ffa12b

.event-icon
  grid-column: event-start / event-end

.cost
  grid-column: cost-start / cost-end
  color: #f9931e
  fill: #f9931e
  justify-self: end
  white-space: nowrap
  font-size: 0.875em

.currently-unavailable
  color: #666
  fill: #666

.cost-icon
  height: 1em
  margin-right: 0.25em
  vertical-align: top
